<!-- <div class="container"> -->
    <div class="image">
        <img style="margin-top:80px;margin-left: 550px;" src="assets/success.png">
       
    </div>
    <div class="container">
    <div class="text">
        <div class="first">
            hurray!!! your order is confirmed
        </div>
        <div class="text-text">
            the order id is #123456 save the order id for 
        </div>
        <div class="third" style="padding-bottom: 25px;">
            further communication..
        </div>
    </div>
    
    <div class="address-div">
        
        <div class="email" style="padding-right: 220px;padding-left: 50px;">
            Email us
        </div>
        <div class="contact" style=" padding-right: 600px;">
            Contact us
        </div>
        <div class="Address">
            Address
        </div>
    </div>
    
    <div class="data-div">
        
        <div class="email-div">
            <span>admin&#64;bookstore.com </span> </div>
        <div class="contact-div">
    <span>        +91    </span>7984110717 </div>
        <div class="Address-div">
            <span>
                42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034
    
            </span>
        </div>
    </div>
    
    <div class="button">
        <button (click)="gotobooks()">CONTINUE SHOPPING</button>
    </div>
    
</div>
